body

{
    text-align: center;
    color: rgb(237, 6, 6);
    font-family: 'Times New Roman';
    font-size: 16px;
}
#container
{

    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(4, 4, 165);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;


}